
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "verdana","Tahoma", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  }

a, label, li, button{
    cursor: pointer;
}

a{
    text-decoration: none;
}

li{
    list-style-type: none;
}

