@import "./_breakpoints.css";

.container {
  display: grid;
  grid-template-columns: 220px 1fr 389px;
  grid-template-rows: auto;
  /* gap: 20px; */
  width: 100%;
  height: 100vh;
}

.questionContainer{
  display: flex;
  flex-direction: column;
}





/* Small screens (phones, tablets) */
@media (max-width: 768px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    gap: 10px;

    .NavbarCollapse{
      position: absolute;
      z-index: 999;
      left: -60%;
  transition: .6s ease-in-out;

    }
  }


}

/* Medium screens (tablets, small desktops) */
@media (min-width: 769px) and (max-width: 1024px) {

}

/* Large screens (desktops) */
@media (min-width: 1025px) {
  /* by default we have done it */
}


.visible{
  transition: .6s ease-in-out;
  left: 0 !important;
}